
body {
    position: fixed;
    border: solid 1px black;
    width: 100%;
}

#title {
    text-align: center;
}

#name-web {
    text-align: center;
}

#input-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin: 50px;
}

#input-controls {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

button {
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

button:hover {
    background-color: rgb(51, 115, 117);
}

#inputFrase {
    width: 70%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
}

#preview {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 630px;
    height: calc(100vh - 450px);
    margin: 60px auto;
    overflow-y: scroll;
}

.row-code {
    display: flex;
    gap: 5px;
    margin: 1px;
    width: fit-content;
    flex-flow: wrap;
}
.row-code:hover{
    border: solid 2px blue;
}


img {
    width: 25px;
    height: auto;
}

.tooltip {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    opacity: 1; /* Visible desde el principio */
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10; /* Asegura que el tooltip esté por encima de otros elementos */
}